body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

.main {
    display: flex;
    flex-direction: row;
}

.system {
    border: 1px solid #999;
    margin-right: 10px;
}

.wrapper {
    display: flex;
    border: 1px solid #999;
}

.factory {
    border: 1px solid #999;
}